            <ul class="nav nav-list" id="dimension-list" data-spy="affix">
              <li class="dimensionSelector active" id="li-diameter"><a href="#diameter">Diameter</a></li>
              <li class="dimensionSelector" id="li-surface_area"><a href="#surface_area">Surface Area</a></li>
              <li class="dimensionSelector" id="li-length"><a href="#length">Length</a></li>
              <li class="dimensionSelector" id="li-width"><a href="#width">Width</a></li>
              <li class="dimensionSelector" id="li-height"><a href="#height">Height</a></li>
              <li class="dimensionSelector" id="li-area"><a href="#area">Area</a></li>
              <li class="dimensionSelector" id="li-volume"><a href="#volume">Volume</a></li>
            </ul>
            <hr />
            <ul class="nav nav-list" id="selector-list" data-spy="affix">
              <li class="modeSelector active" id="li-compare"><a href="#"><i class="icon-zoom-in"></i>Compare Mode</a></li>
              <li class="modeSelector" id="li-analogy"><a href="#"><i class="icon-question-sign"></i>Analogy Mode</a></li>
              <li class="modeSelector" id="li-prediction"><a href="#"><i class="icon-resize-vertical"></i>Prediction Mode</a></li>
            </ul>
