<ul class="nav nav-list" id="admin-list" data-spy="affix">
            <li class="admin"><a href="/"><i class="icon-home"></i> Back to Home</a></li>
            <li class="admin"><a href="/items"> <i class="icon-th"></i> Data Table</a></li>
            <li class="admin"><a href="/items/new"><i class="icon-plus-sign"></i> Add New Item</a></li>
</ul>