

/* ===== Primary Styles ========================================================
   Author:
   ========================================================================== */

ul#selectDimension {
	list-style-type: none;
}

#selectDimension li {
	float: left;
	margin: 0 10px 0 10px;
}

.left {
	float: left;
	
}

.right {
	float: right;
}

.listWrapper {
	margin: 0 ! important;
	margin-top:	40px;
	border: 1px solid black;
	width: 320px ! important; /*430*/
	height:	550px ! important;
}

footer {
	margin-top: 50px;
}

.listContainer dd {
	height: 150px;/*255*/
	padding: 5px;
}

.listContainer dd p {
	float: left;
}

dd.selectedObject {
	background-color: #600;
	color: #fff;
}

dd:hover {
	background-color: #f60;
}
dd.selectedObject:hover {
	background-color: #600;
}

.fakeHeader, dt {
	width: 292px ! important;
}

/*.hidden {
	display: hidden;
}
*/
#leftObject {
	display: inline;
}

#rightObject {
	display: inline;
}

.iosListImage {
	float:	right;
}

#animateObjects {
	height: 450px;
}

.objectAnimation {
	margin-top:	50px;
}

#description {
	margin-top: 325px;
}

#description p, #description img {
	display: inline;
}

#description img {
	margin-right: 20px;
}

.iosListImage {
	width: 150px; /*250px*/
}

.objectAnimation img {
	width: 200px;
}

#predictionObjects img {
	width: 350px;
    height: 350px;
	border: 1px solid gray;
}

.orange {
	color: #f60;
}

.maroon {
	color: #600;
}

.correct {

}

#centerColumn {
	overflow-x: auto;
}

.itemTable {
	border-collapse: separate;
	border-spacing: 18px!important;
}
